# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.pytest_cache/
.ruff_cache/

# Env / secrets
.env

# Data / artifacts
mlflow.db
mlflow/
*.parquet
data/raw/
data/output/

# Dagster
.dagster/
dagster_home/
tmp*/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
infra/terraform.tfvars
infra/.terraform.lock.hcl
.retrain_cooldowns/
.mlflow_cooldowns/

# SSH keys
*.pem
*.key

# OS / IDE
.DS_Store
.idea/
.vscode/

#conda
.conda/
command/

